@using System.Text.RegularExpressions

@{
    foreach (var pinnedArticles in Model.PinnedArticles)
    {
        var regexId = new Regex(@"[\s+]");
        string articles = regexId.Replace(pinnedArticles.Title, "-").ToString();
        string url = $"{pinnedArticles.Id}-{articles}";

        <div class="pinned-articles">
            <a asp-controller="News" asp-action="ArticlePage" asp-route-urlId="@url">
                <img src="../images/@pinnedArticles.ImageName" />
                <div class="text-content">
                    <h5>
                        @pinnedArticles.Created
                    </h5>
                    <h3 id="pinned-title">
                        @pinnedArticles.Title
                    </h3>
                    <p id="pinned-author">
                        - @pinnedArticles.AuthorFirstName @pinnedArticles.AuthorFirstName
                    </p>
                </div>
            </a>
        </div>
    }
}
