@model Service.Models.ArticleDTO;

@*Ska jag använda ArticleDTO eller ska jag redan nu implementera blocks?
    - Blocks har olika typer och en siffra som indikerar vilken ordning dom kommer i
    - Simon gav tips att använda if-satser för att checka types direkt på sidan i en container
    - Ska man köra foreachen inuti eller utanför container-divarna??
*@
@{
    <div class="main-img">
    <p class="article-title">@Model.Title</p>
    <img class="article-img" src="~/images/@Model.ImageName">
    </div>

     <div class="ads-container-2">
            @{
            Html.RenderPartial("Ads");
        }
    </div>

    <div class="grid">

       <div class="blocks-container">
            @{
            Html.RenderPartial("ArticleBlocks");
        }
    </div>

    <div class="author-container">
        <div class="author">
        <p>@Model.Created</p>
        <div class="author-img">
            <img src=~/images/@Model.Author.ImageName>
        </div>
        <div class="about-author">
        <span class="name">@Model.Author.FirstName @Model.Author.LastName</span>
        <span class="socials"> 
        <i class="fa-light fa-envelope"></i>
        E-post
        </span>
        <span class="socials"> 
        <i class="fa-brands fa-twitter"></i>
        Twitter
        </span>
        </div>
        </div>
    </div>

    </div>
    <br />

            <div class="comments-container">
            <h3>@Model.Comments.Count() Kommentarer</h3>
            <a href="" class="comments-lnk">Skriv en kommentar</a>
            <div class="forms">
            @using (Html.BeginForm("CreateComments", "News", FormMethod.Post))
            {
                @Html.LabelFor(m => m.NewComments.CommentedBy, "Din mejladress: ")
                <br />
                @Html.TextBoxFor(x=> x.NewComments.CommentedBy, new {required="required", pattern=@"\A(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?)\Z"})
                <br />
                @Html.LabelFor(k => k.NewComments.Value, "Din kommentar: ")
                <br />
                @Html.EditorFor(r => r.NewComments.Value, null, new {required="required"})
                @Html.HiddenFor(x => Model.Id)
                
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <br />
                <input type="submit" value="Lägg till kommentar" />

            }
            </div>
            @foreach (var comment in Model.Comments)
            {
                <div class="comments-div">
                <hr />
                    <p>@comment.CommentedBy</p>
                    <p>@comment.Created</p>
                    <p>@comment.Value</p>
                </div>
            }
            </div>
    <br />

    //Thank god för whoever delade deras regex lmao
   
}


