@model Service.Models.ArticleDTO;

@*Ska jag använda ArticleDTO eller ska jag redan nu implementera blocks?
    - Blocks har olika typer och en siffra som indikerar vilken ordning dom kommer i
    - Simon gav tips att använda if-satser för att checka types direkt på sidan i en container
    - Ska man köra foreachen inuti eller utanför container-divarna??
*@
@{
    <div class="main-img">
    <p class="article-title">@Model.Title</p>
    <img class="article-img" src="~/images/@Model.ImageName">
    </div>

     <div class="ads-container-2">
            @{
            Html.RenderPartial("Ads");
        }
    </div>

    <div class="grid">

       <div class="blocks-container">
            @{
            Html.RenderPartial("ArticleBlocks");
        }
    </div>

    <div class="author-container">
        <div class="author">
        <p>@Model.Created</p>
        <div class="author-img">
            <img src=~/images/@Model.Author.ImageName>
        </div>
        <div class="about-author">
        <span class="name">@Model.Author.FirstName @Model.Author.LastName</span>
        <span class="socials"> 
        <i class="fa-light fa-envelope"></i>
        E-post
        </span>
        <span class="socials"> 
        <i class="fa-brands fa-twitter"></i>
        Twitter
        </span>
        </div>
        </div>
    </div>

    </div>
    <br />

            <div class="comments-container">
            <h3>@Model.Comments.Count() Kommentarer</h3>
            <a href="" class="comments-lnk">Skriv en kommentar</a>
            <div class="forms">
            </div>
            </div>
    <br />


    //<div class="commentary-form">
    //    <form>
    //        <p>This is just an example</p>
    //        <label for="email">Email</label>
    //        <input type="email" placeholder="john.doe@example.com">
    //        <label for="comment-box">Comment</label>
    //        <input type="text">
    //        <input type="submit" text="Submit">
    //    </form>
    //    <hr>
    //    </div>

    // ----------------- TEST ---------------------------------------------------------
    //@using (Html.BeginForm("Form", "ArticlePage", FormMethod.Post))
    //{
    //    foreach (var comment in Model.Comments)
    //    {
    //        <h1>
    //            <b>Name:</b>  @ViewBag.Name <br />
    //        </h1>
    //        <hr />
    //        <table>
    //            <tr>
    //                <td>Enter Email: </td>
    //                <td>@Html.TextBoxFor(x => comment.CommentedBy)</td>
    //            </tr>
    //            <tr>
    //                <td colspan="2"><input type="submit" value="Submit" /></td>
    //            </tr>
    //        </table>
    //    }
    // ----------------- END OF TEST -----------------------------------------------------
}


